# Clase 1

In [4]:
print("Hola Mundo")

Hola Mundo

In [9]:
mi_nombre = "Ana Guadalupe"
print(mi_nombre)

Ana Guadalupe

In [11]:
mi_edad = 30
print(mi_edad)

mi_correo = "anacarrillo49@aragon.unam.mx"
print(mi_correo)

mi_altura = 1.80
print(mi_altura)

30
anacarrillo49@aragon.unam.mx
1.8

In [14]:
valor_1 = 35
valor_2 =10

suma = valor_1 + valor_2
print(suma)

resta = valor_1 - valor_2
print(resta)

multiplicacion = valor_1 * valor_2
print(multiplicacion)

division = valor_1 / valor_2
print(division)

45
25
350
3.5

# Format

In [21]:
input("Dame un valor:")

'20'

In [24]:
"Hola" * 3

'HolaHolaHola'

In [2]:
valor_1 = int(input("Dame un valor 1"))
valor_2 = int(input("Dame el valor 2"))

suma = valor_1 + valor_2
print(f"La suma de {valor_1} y {valor_2} es {suma}")

La suma de 7 y 7 es 14